USE [MPR]
GO
/****** Object:  StoredProcedure [ctl].[zzz_load_tables]    Script Date: 2/20/2024 11:25:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Chris Briscoe
-- Create date: 2014-09-17
-- Description:	Load all files
-- =============================================
ALTER PROCEDURE [ctl].[zzz_load_tables]
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @file_name VARCHAR(50)
  DECLARE @proc_name VARCHAR(50)
  DECLARE @file_status int
  DECLARE @numrows int
  DECLARE @numprocced int

  --First clear the log file
  DBCC SHRINKFILE (MPR_log,TRUNCATEONLY)
  --ALTER DATABASE [MPR]
  --MODIFY FILE (NAME=MPR_log,SIZE=1024MB); 

  DECLARE db_cursor CURSOR LOCAL DYNAMIC FOR  
  SELECT file_name, proc_name
    FROM ctl.load_status
   WHERE load_dt < CAST(GETDATE() AS DATE)

  RAISERROR('Load process is starting.',0,1) WITH NOWAIT

  SET @numrows = 9999

  WHILE @numrows > 0
  BEGIN
    SET @numrows = 0
    SET @numprocced = 0

    OPEN db_cursor   
    FETCH NEXT FROM db_cursor INTO @file_name, @proc_name 

    WHILE(@@FETCH_STATUS = 0)   
    BEGIN   
      SET @numrows = @numrows + 1

      EXEC @file_status = [ctl].[check_file] @LoadFile = @file_name
      RAISERROR('%s: file status = %i.',0, 1, @file_name, @file_status) WITH NOWAIT

      IF @file_status = 1
      BEGIN
        RAISERROR('%s: load is starting.',0, 1, @file_name) WITH NOWAIT
        EXEC @proc_name
        SET @numprocced = @numprocced + 1
        EXEC [ctl].[delete_file] @DeleteFile = @file_name
        UPDATE ctl.load_status SET load_dt = GETDATE() WHERE file_name = @file_name
        RAISERROR('%s: load is finished.',0, 1, @file_name) WITH NOWAIT
      END

      FETCH NEXT FROM db_cursor INTO @file_name, @proc_name  
    END  
    
    CLOSE db_cursor 

    --if there is stuff still to process but nothing processed on last pass, sleep for 1 minute.
    IF @numrows > 0 AND @numprocced = 0
    BEGIN
      RAISERROR('Sleeping for 1 minute.  Waiting on %i files to arrive.',0, 1, @numrows) WITH NOWAIT
      WAITFOR DELAY '00:01:00'
    END
  END

  DEALLOCATE db_cursor

  RAISERROR('Building rst.mag_div.',0,1) WITH NOWAIT
  EXEC [rst].create_mag_div

  RAISERROR('Building rst.div_audit.',0,1) WITH NOWAIT
  EXEC [rst].create_div_audit

  RAISERROR('Building rst.whs_audit.',0,1) WITH NOWAIT
  EXEC [rst].create_whs_audit

  RAISERROR('Building rst.set_sku_audit.',0,1) WITH NOWAIT
  EXEC [rst].create_set_sku_audit

  RAISERROR('Updating rundate.',0,1) WITH NOWAIT
  UPDATE ctl.rundate SET dt = GETDATE()

  RAISERROR('Load process is finished.',0,1) WITH NOWAIT
END

