USE [MPR]
GO
/****** Object:  StoredProcedure [rst].[zzz_xxx_create_whs_audit_old]    Script Date: 2/20/2024 11:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Chris Briscoe
-- Create date: 2014-10-08
-- Description:	Create WHS AUDIT table
-- =============================================
ALTER PROCEDURE [rst].[zzz_xxx_create_whs_audit_old]
AS
BEGIN
	SET NOCOUNT ON;

	IF (EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'rst' AND TABLE_NAME = 'whs_audit')) BEGIN
    DROP TABLE rst.whs_audit
  END;

  with whs1 as (
    select sku_nbr
          ,whse_nbr
      from rst.mag_div
     group by sku_nbr, whse_nbr
  ),
  magwhs as (
    select whs1.sku_nbr
          ,case whs1.whse_nbr
           when '00065' then '791'
           when '00461' then '797'
           else 'XXXXX' end as src_id
          ,mag.pidupc(sv1.mstr_art_nbr) as cas_upc_no
          ,mag.pidupc(va1.art_nbr) as bas_upc_no
      from whs1
          ,mag.sv1 sv1
          ,mag.va1 va1
     where sv1.sku_nbr = whs1.sku_nbr
       and va1.sku_nbr = whs1.sku_nbr
       and sv1.prmy_altn_vndr_ind = 'P'
       and va1.bas_arl_fl         = 'B'
  ),
  report as (
    select magwhs.sku_nbr
          ,magwhs.src_id
          ,magwhs.cas_upc_no as mag_cas
          ,magwhs.bas_upc_no as mag_bas
          ,coalesce((
             select 'Y'
               from mag.pie
              where sku_nbr = magwhs.sku_nbr
                and seq_nbr = 1),'N') as ierr
          ,coalesce((
             select top 1
                    lin_no
               from pid.whsca
              where sku_nbr     = magwhs.sku_nbr
                and src_id      = magwhs.src_id
                and (cas_upc_no != magwhs.cas_upc_no
                 or  bas_upc_no != magwhs.bas_upc_no)),' ') as lin_no
          ,coalesce((
             select top 1
                    cas_upc_no
               from pid.whsca
              where sku_nbr     = magwhs.sku_nbr
                and src_id      = magwhs.src_id
                and cas_upc_no != magwhs.cas_upc_no),' ') as pid_cas
          ,coalesce((
             select top 1
                    bas_upc_no
               from pid.whsca
              where sku_nbr     = magwhs.sku_nbr
                and src_id      = magwhs.src_id
                and bas_upc_no != magwhs.bas_upc_no),' ') as pid_bas
      from magwhs
  )
  select report.sku_nbr
        ,is2.sku_typ_cd
        ,is2.rec_stat_cd as sku_stat_cd
        ,right('000' + rtrim(fi1.lvl06_cd),3) as dpt_cd
        ,right('000' + rtrim(fi1.lvl08_cd),3) as cls_cd
        ,is2.desc_lng_txt
        ,report.src_id
        ,report.mag_cas
        ,report.mag_bas
        ,report.lin_no
        ,report.pid_cas
        ,report.pid_bas
    into rst.whs_audit 
    from report 
        ,mag.is2
        ,mag.fi1
    where report.lin_no > space(5)
      and report.sku_nbr = is2.sku_nbr
      and fi1.itm_nbr    = is2.itm_nbr

END

