USE [MPR]
GO
/****** Object:  StoredProcedure [rst].[zzz_xxx_create_div_audit_2]    Script Date: 2/20/2024 11:21:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Chris Briscoe
-- Create date: 2014-09-11
-- Description:	Create DIV AUDIT table
-- =============================================
ALTER PROCEDURE [rst].[zzz_xxx_create_div_audit_2]
AS
BEGIN
	SET NOCOUNT ON;

	IF (EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'rst' AND TABLE_NAME = 'div_audit_2')) BEGIN
    DROP TABLE rst.div_audit_2
  END;

  WITH magdat as (
    select div.sku_nbr
          ,is2.desc_lng_txt as sku_desc
          ,is2.rec_stat_cd as sku_sts
          ,is2.sku_typ_cd as sku_typ
          ,right('000' + rtrim(fi1.lvl06_cd),3) as dept_cd
          ,right('000' + rtrim(fi1.lvl08_cd),3) as cls_cd
          ,div.whse_nbr as whse_nbr
          ,case
           when div.div_cd = '705'
            and sv1.mdse_flow_cd = 'WHP' then
             space(4)
           when sv1.mdse_flow_cd = 'ALC' then
             'ALOC'
           else
             'FMWR'
           end as flow_cd
          ,mr1.mdn_rtl_amt as mdn_rtl
          ,is2.sku_pres_fr_dt as vld_fr_dt
          ,mag.pidupc(sv1.mstr_art_nbr) as cas_upc_no
          ,mag.pidupc(va1.art_nbr) as bas_upc_no
          ,div.div_cd
          /*,case div.whse_nbr
           when '00065' then
             '791'
           when '00461' then
             '797'
           end as src_id
          ,case div.prmy_whse_nbr
           when '00065' then
             '791'
           when '00461' then
             '797'
           else
             'XXX'
           end as prim_src*/
          ,coalesce((
             select tbl_elem_text
               from mag.td1
              where tbl_id = 'K001'
                and substring(tbl_elem_id,1,5) = div.whse_nbr
                and substring(tbl_elem_id,6,3) = right('000' + rtrim(fi1.lvl06_cd),3)
            ),'XXX') as src_id
          ,coalesce((
             select tbl_elem_text
               from mag.td1
              where tbl_id = 'K001'
                and substring(tbl_elem_id,1,5) = div.prmy_whse_nbr
                and substring(tbl_elem_id,6,3) = right('000' + rtrim(fi1.lvl06_cd),3)
            ),'XXX') as prim_src
      from rst.mag_div div
          ,mag.is2     is2
          ,mag.sv1     sv1
          ,mag.va1     va1
          ,mag.fi1     fi1
          ,mag.mr1     mr1
     where div.div_cd            != '701'
       and div.whse_nbr          in ('00065','00461')
       and is2.sku_nbr            = div.sku_nbr
       and sv1.sku_nbr            = is2.sku_nbr
       and va1.sku_nbr            = sv1.sku_nbr
       and mr1.sku_nbr            = va1.sku_nbr
       and fi1.itm_nbr            = is2.itm_nbr
       and sv1.prmy_altn_vndr_ind = 'P'
       and va1.bas_arl_fl         = 'B'
  ),
  data1 as (
    select magdat.*
          ,coalesce((
             select div_cas_stu_cd
               from pid.orden ord
              where ord.cas_upc_no  = magdat.cas_upc_no
                and ord.src_id      = magdat.src_id
                and ord.bil_div_no  = magdat.div_cd),' ') as div_sts
      from magdat
  ),
  data2 as (
    select data.*
          ,coalesce((
             select min(tc2.arr_dt)
               from mag.tc2 tc2
                   ,mag.li2 li2
              where tc2.po_id = li2.po_id
                and tc2.loc_nbr = data.whse_nbr
                and li2.sku_nbr = data.sku_nbr
            ),'9999-01-01') as arr_dt_1
          ,coalesce((
             select min(tc2.arr_dt)
               from mag.tc2 tc2
                   ,mag.li2 li2
                   ,mag.sc9 sc9
              where tc2.po_id = li2.po_id
                and tc2.loc_nbr = data.whse_nbr
                and li2.sku_nbr = sc9.sku_nbr
                and sc9.comp_sku_nbr = data.sku_nbr
            ),'9999-01-01') as arr_dt_2
      from data1 data
     where data.div_sts in (' ','D')
  ),
  results as (
    select data.sku_nbr
          ,data.sku_desc
          ,data.sku_sts
          ,data.sku_typ
          ,data.dept_cd
          ,data.cls_cd
          ,data.flow_cd
          ,data.mdn_rtl
          ,data.vld_fr_dt
          ,case
           when data.arr_dt_1 < data.arr_dt_2
           then data.arr_dt_1
           else data.arr_dt_2
           end as arr_dt
          ,data.cas_upc_no
          ,data.bas_upc_no
          ,data.div_cd
          ,data.src_id
          ,data.prim_src
          ,data.div_sts
          ,coalesce((
             select top 1 
                    case
                    when whsca.bil_stu_cd = '01' then 'A'
                    when whsca.bil_stu_cd = '03' then 'D'
                    when whsca.bil_stu_cd = '02' then 'T'
                    when whsca.bil_stu_cd = '04' then 'O'
                    else '?' end
               from pid.whsca
              where whsca.cas_upc_no = data.cas_upc_no
                and whsca.src_id     = data.src_id),' ') as whs_sts
          ,case
           when data.sku_typ = '55' then
             'N'
           when data.src_id = data.prim_src then
             'Y' 
           else
             'N'
           end as scan_flg
          ,coalesce((
             select 'Y'
               from mag.pie
              where sku_nbr = data.sku_nbr
                and seq_nbr = 1),'N') as ierr
          ,coalesce((
             select top 1
                    lin_no
               from pid.whsca
              where sku_nbr     = data.sku_nbr
                and src_id      = data.src_id
                and cas_upc_no != data.cas_upc_no),' ') as lin_no
          ,coalesce((
             select top 1
                    cas_upc_no
               from pid.whsca
              where sku_nbr     = data.sku_nbr
                and src_id      = data.src_id
                and cas_upc_no != data.cas_upc_no),' ') as whs_cas
          ,coalesce((
             select top 1
                    bas_upc_no
               from pid.whsca
              where sku_nbr     = data.sku_nbr
                and src_id      = data.src_id
                and bas_upc_no != data.bas_upc_no),' ') as whs_bas
      from data2 data
  )
  select *
    into rst.div_audit_2
    from results
   order by sku_nbr, div_cd, src_id

END

