 with store_users as (
 select 'STR' as UserType
       ,UserID
       ,UserName
   from ckb.dbo.ix_web_user with (nolock)
  where len(UserName) in (7,8)
    and not UserName like '%[^0-9]%'
    and Password != 'utMrheS0YVmLUBR19AdQIuU1jjc='
), div_users as (
 select 'DIV' as UserType
       ,UserID
       ,UserName
   from ckb.dbo.ix_web_user with (nolock)
  where len(UserName) = 6
    and UserName like 'DIV%[0-9]%'
    and Password != 'PyUcwy09l08S9P233FArXQmGkPk='
)
select * from store_users
 union 
select * from div_users
;